<h1>Listing mailmes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailmes.each do |mailme| %>
  <tr>
    <td><%= mailme.name %></td>
    <td><%= mailme.email %></td>
    <td><%= link_to 'Show', mailme %></td>
    <td><%= link_to 'Edit', edit_mailme_path(mailme) %></td>
    <td><%= link_to 'Destroy', mailme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailme', new_mailme_path %>
